
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cool moveable shape</title>

    <link rel="stylesheet" type="text/css" href="~/Content/themes/shape.css" />
</head>
<body>
    <div>
        <div id="count"></div>
        <div id="shape"></div>
    </div>

    <script src="~/Scripts/jquery-1.6.4.js"></script>
    <script src="~/Scripts/jquery-ui-1.11.4.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script> <!-- for automatically generate js proxy class-->
    <script src="~/Scripts/util.js"></script>
</body>
</html>
